@{
    ViewBag.Title = "How's this thing work again?";
    ViewBag.Message = "Ramblings of a working mom and sometimes C# developer";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Title</h2>
                <h3>@ViewBag.Message</h3>
            </hgroup>
          
        </div>
    </section>
}

@* test *@
@section sidebar{
    @*<h3 class="alert ">Jennifer DeCesari</h3>*@

         <h5 class="muted" >Contact Info</h5>
      
         <div style="white-space: nowrap"><a href="mailto://jenniferdecesari@gmail.com" ><img src="~/Images/EmailSphere.png" />&nbsp;jenniferdecesari@@gmail.com</a></div>  
         <div><a href="https://twitter.com/JenDeCesari" target="_new"><img src="~/Images/TwitterSphere.png" />&nbsp;@@JenDeCesari</a> </div> 

    <h3>Further navigation will go here</h3>
            
}

<h3>February 8th, 2013</h3><p></p>

<h5>Welcome!</h5><p></p>
So this is the first 'blog' post.  I should write something interesting or intriguing, right?  I went to work today, I came home and am 
now sitting like a bump on a log on my couch trying to naviagate MVC, CSS, JavaScript and ASP.NET to create a blog site... for no other 
reason than to say that I did.<p></p>

I'm Jen.  I'm a 30-something suburban working Mom.  I wasn't always a working mom though. My oldest daughter (OD) was born in 2006 
followed 2.5 years later by my currently youngest daughter (CYD) in 2008 (I say currently because I hope she's not always the youngest 
child *hint hint husband-o-mine*).  My first was born 3 months early and she was very sickly her first year and it killed me to be working
and not home with her, so when #2 showed up I knew I'd be staying home with her.  Fast forward 4 years...<p></p>

A bad economy forced us to move 900 miles away in order for me to find work and reenter the workforce.  Hubby works as a LAMP stack 
developer and continues to work for the same company for 5 years now.  But me, finding work as a WinForms .NET developer was not going
to happen n an area as hard hit as we left.  So Raleigh, North Carolina we go!   After a disasterous 10 weeks working at a governement 
agency I got my current position at Parata Systems in Durham.  Back to doing WinForms development and working with an awesome team.  
I love going to work every day :)<p></p>